@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Lobster);

a {
  text-decoration: none;
  color: White;
  font-weight: bold;
  font-family: 'Playfair Display', sans-serif;
}

#navmenu {
  list-style: none;
  background-color: #CD001C;
  border-style: inset;
  width: 150px;
}

.navitems {
  margin: 8px;
}

body {
    background-image: url("Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: scroll;
    font-family: 'Playfair Display', sans-serif;
}

h1 {
  color: #CD001C;
  font-family: "Lobster", cursive;
  font-style: normal;
  font-size: 3em;
}
