@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Anton);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Passion+One);

a {
  text-decoration: none;
  color: White;
  font-weight: bolder;
  font-family: 'Playfair Display', sans-serif;
  background-color: Grey;
  border-style: inset;
}

#navmenu {
  list-style: none;
  background-color: #272525;
  border-style: outset;
  border-color: #DA0000;
  width: 175px;
}

.navitems {
  margin: 10px;
}

body{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d0/Jabberwocky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: scroll;
}

h2{
  font-weight: normal;
  font-size: 1em;
  color: #FF5757;
  background-color: #6E6B6B;
  font-family: "Lora", serif;

}

h1{
  font-style: italic;
  color: White;
  background-color: Black;
  border-style: outset;
  border-color: #DA0000;
}

h3{
  font-weight: normal;
  font-size: 1em;
  color: #FF2B2B;
  background-color: #616161;
  font-family: 'Anton', sans-serif;

}

h4{
  font-weight: normal;
  font-size: 1em;
  color: #F00000;
  background-color: #444242;
  font-family: 'Poiret One', cursive;

}

h5{
  font-weight: normal;
  font-size: 1em;
  color: #DA0000;
  background-color: #272525;
  font-family: 'Passion One', cursive;

}
